@model Shop.Domain.Model.Customer.Address
@{
    var returnUrl = Context.Request.Query["returnurl"];
}
<h2>Register</h2>
<div>
    <form asp-action="SelectAddress" asp-route-returnutl="@returnUrl">
        <div style="color:red">@Html.ValidationSummary()</div>
        <div class="row">
            <div class="col-lg-12">@ViewBag.Message</div>
        </div><br />

        <div class="row">
            <div class="col-lg-2">@Html.LabelFor(a => a.Country)</div>
            <div class="col-lg-10">@Html.TextBoxFor(a => a.Country, new { @class = "form-control" })</div>
        </div><br />
        <div class="row">
            <div class="col-lg-2">@Html.LabelFor(a => a.City)</div>
            <div class="col-lg-10">@Html.TextBoxFor(a => a.City, new { @class = "form-control" })</div>
        </div><br />
        <div class="row">
            <div class="col-lg-2">@Html.LabelFor(a => a.Street)</div>
            <div class="col-lg-10">@Html.TextBoxFor(a => a.Street, new { @class = "form-control" })</div>
        </div><br />
        <div class="row">
            <div class="col-lg-2">@Html.LabelFor(a => a.Number)</div>
            <div class="col-lg-10">@Html.TextBoxFor(a => a.Number, new { @class = "form-control" })</div>
        </div><br />
        <input type="submit" value="Select" class="btn btn-primary" />
    </form>
</div>